.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.feedback {
  background-color: blue;
  color: white;
  font-size: 15px;
  border-radius: 100px;
  border: 2px solid black;
}

.add-feeling-form {
  background-color: lightgrey;
}